$body-bg: #242933;
$body-color: rgb(236, 239, 244);
$primary: rgb(171, 185, 207);

// $font-family-sans-serif: "Overpass", sans-serif;
// $font-family-monospace: "Overpass Mono", monospace;

// code {
//   font-family: "Overpass Mono", monospace !important;
// }

// div.mermaid {
//   font-family: "Overpass Mono", monospace;
// }

@import "~bootstrap/scss/bootstrap";
